#remover_botao {
    -fx-background-color: #ACE1AF;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    -fx-text-fill: #1c1b1b;
    -fx-font-size: 18px;
    -fx-font-weight: 400;
    -fx-text-align: center;
}

#remover_botao:hover {
    -fx-background-color: #90303D;
}
#add_botao {
    -fx-background-color: #ACE1AF;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    -fx-color: #fff;
    -fx-cursor: pointer;
    -fx-font-size: 18px;
    -fx-font-weight: 400;
    -fx-text-align: center;
}

#add_botao:hover {
    -fx-background-color: #B0EBB4;
}
#botaoFinalizar {
    -fx-background-color: #ACE1AF;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    -fx-color: #fff;
    -fx-cursor: pointer;
    -fx-font-size: 18px;
    -fx-font-weight: 400;
    -fx-text-align: center;
}

#botaoFinalizar:hover {
    -fx-background-color: #B0EBB4;
}


