.menu-bar {
    -fx-background-color: #424769;
    -fx-font-family: "Yu Gothic UI";
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 12px;
    -fx-text-fill: #f1ebeb;
    -fx-border-width: 0.5px;
    -fx-border-color: #777777;

}

.label {
    -fx-font-family: "Yu Gothic UI";
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: #444a49;
    -fx-background-radius: 8;
    -fx-opacity: 0.5;
    -fx-text-fill: #eae1e1;
}

.menu-bar .label {
    -fx-font-size: 14.0 pt;
    -fx-font-family: "Yu Gothic UI";
    -fx-text-fill: #f4f0f0;
    -fx-font-weight: bold;
}

.menu-item {
    -fx-text-fill: #f3ecec;
    -fx-background: #424769;
    -fx-background-radius: 10;
}

.menu-item .label{
    -fx-text-fill: #ffffff;
}
.menu-item .label:hover{

    -fx-text-fill: black;
}

.context-menu {
    -fx-background-color: #424769;
    -fx-background-radius: 10;
    -fx-opacity: 0.9;
    -fx-border-radius: 10;
    -fx-border-color: #d3dcd4;
    -fx-text-fill: black;
}