.menu-bar {
    -fx-background-color: #E0FBE2;
    -fx-font-family: "Yu Gothic Light";
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
    -fx-border-width: 0.5px;
    -fx-border-color: #777777;

}

.label {
    -fx-font-family: "Yu Gothic Light";
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: #ACE1AF;
    -fx-background-radius: 10;
    -fx-opacity: 0.5;
    -fx-text-fill: #000000;
}

.menu-bar .label {
    -fx-font-size: 14.0 pt;
    -fx-font-family: "Yu Gothic Light";
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.menu-item {
    -fx-text-fill: #000000;
    -fx-background: #ACE1AF;
    -fx-background-radius: 10;
}

.menu-item .label{
    -fx-text-fill: #000000;
}
.menu-item .label:hover{

    -fx-text-fill: black;
}

.context-menu {
    -fx-background-color: #ACE1AF;
    -fx-background-radius: 10;
    -fx-opacity: 0.8;
    -fx-border-radius: 10;
    -fx-border-color: #E0FBE2;
    -fx-text-fill: black;
}