.table-view .column-header-background .table-column {
    -fx-background-color: #E0FBE2;
    -fx-text-fill: #BFF6C3;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #ffffff;
    -fx-alignment: CENTER;
}

.table-view .column-header-background .table-column:focused {
    -fx-background-color: #none;

}
.table-view .table-row-cell:filled:selected {
    -fx-background-color: #bfbfbf;
}
.table-view .column-header-background {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #BFF6C3;
}

.table-row-cell:selected {
    -fx-selection-bar: transparent;
    -fx-selection-bar-non-focused: transparent;

}
.table-row-cell:odd {
    -fx-background-color: #F5F5F5;

}

.table-row-cell:even {
    -fx-background-color: #FFFAFA;

}

.table-row-cell {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #B0EBB4;

}
.table-cell {
    -fx-font-family: "Yu Gothic Medium";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}
.custom-choice-box-cell .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;

}

.table-view:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

