.table-view .column-header-background .table-column {
    -fx-background-color: #424769;
    -fx-text-fill: #ffffff;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #ffffff;
    -fx-alignment: CENTER;
    -fx-font-family: "Yu Gothic Medium";
}

.table-view .column-header-background .table-column:focused {
    -fx-background-color: #none;

}
.table-view .table-row-cell:filled:selected {
    -fx-background-color:#444a49;
}
.table-view .column-header-background {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #424141;
    -fx-text-fill: white;
}
.table-view .column-header-background .label {
    -fx-background-color: #424769;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-family: "Yu Gothic UI";
    -fx-alignment: CENTER;
    -fx-padding: 4px;
}


.table-row-cell:selected {
    -fx-selection-bar: transparent;
    -fx-selection-bar-non-focused: transparent;

}
.table-row-cell:odd {
    -fx-background-color: #d8d8d8;

}

.table-row-cell:even {
    -fx-background-color: #dcdcdc;

}

.table-row-cell {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #b5b5b5;

}
.table-cell {
    -fx-font-family: "Yu Gothic Medium";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}
.custom-choice-box-cell .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;

}

.table-view:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

